apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  type: LoadBalancer # 외부 접속 허용
  selector:
    app: my-portfolio
  ports:
  - protocol: TCP
    port: 80       # 브라우저 접속 포트
    targetPort: 3000 # 컨테이너 내부 포트
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-portfolio
spec:
  replicas: 2 # 서버를 2개 띄움 (부하 분산)
  selector:
    matchLabels:
      app: my-portfolio
  template:
    metadata:
      labels:
        app: my-portfolio
    spec:
      containers:
      - name: my-portfolio
        image: my-portfolio:v1 # 아까 빌드한 이미지
        imagePullPolicy: Never # 로컬 이미지를 사용함
        ports:
        - containerPort: 3000
        env: # server.js로 전달될 환경 변수
        - name: MYSQL_HOST
          value: "mysql-service" # MySQL 서비스 이름
        - name: MONGO_HOST
          value: "mongo-service" # MongoDB 서비스 이름